.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6); /* Slight background for readability */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: auto;
  height: auto;
  position: relative; /* Ensures it stays above the background video */
  z-index: 1; /* Places it above the video */
}

.background-video {
  position: fixed; /* Changed to fixed for a full background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire background */
  z-index: -1; /* Places the video behind other elements */
}

.signup-container h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #140755;
  text-align: center;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.upload-section label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #140755;
  text-decoration: underline;
  margin-top: 10px; /* Adds space between the image and the text */
}

.upload-section img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px; /* Adds space between the profile image and the "Upload an image" text */
}

.signup-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px; /* Adjusted margin for better spacing */
}

.signup-container input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(24, 16, 183, 0.736);
  color: #fff;
}

.signup-container button {
  padding: 10px;
  width: auto;
  background-color: #140755;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.signup-container button:disabled {
  cursor: not-allowed;
  background-color: #140755;
}

.signup-container button:hover:not(:disabled) {
  background-color: rgb(21, 21, 177);
}

.signup-container .login-prompt {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
}

.signup-container .login-prompt a {
  color: #140755;
  text-decoration: none;
}

.signup-container .login-prompt a:hover {
  text-decoration: underline;
}
